# Ignorar archivos y directorios generados por Cypress
cypress/videos/
cypress/reports/
cypress/logs/
cypress/downloads/

# Ignorar archivos y directorios generados por Kraken
reports/
logs/
videos/
.kraken/

# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno
.env

.DS_Store